@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  background: #88CCFF;
  box-sizing: border-box;
}

.app {
  max-width: 700px;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  background: #5D9530;
  padding: 20px;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  font-weight: bold
}

a:hover {
  transform: scale(1.1);
  transition: all 200ms ease;
}

.active {
  color: #88CCFF;
}

.smurf-list {
  font-size: 1.4rem;
}

.smurf {
  background: rgba(255, 255, 255, 0.5);
  max-width: 400px;
  margin: 20px auto;
  text-align: left;
  padding: 5px 20px;
  border-radius: 10px;
}

.addSmurf {
  display: flex;
  flex-direction: column;
}

.addSmurf input {
  width: 300px;
  padding: 10px;
  margin: 5px auto;
  border: none;
  border-radius: 10px;
}

.addSmurf button {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  border-radius: 10px;
  cursor: pointer;
}

.addSmurf button:hover {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  transition: all 200ms ease;
}

@media (max-width: 500px) {
  .smurf {
    margin: 20px;
  }
}

@media (max-width: 320px) {
  .addSmurf input {
    width: 80%;
  }
}